.h10 {
  height: 9px;
}
.h7 {
  height: 7px;
}

body.page-about {
  padding-bottom: 0;
}

#about-tabs-sticky-wrapper {
  z-index: 20;
  position: absolute;
  top:15px;
  left:20px;
  right:20px;

  a {
    color:white;
  }
}

#about-tabs {
  background: rgba(#252525, 0.82);
  >.active {
    &.cyan {
      a {
        color:$cyan;
      }
    }
    &.orange {
      a {
        color:$orange;
      }
    }
    &.green {
      a {
        color:$green;
      }
    }
  }
}

.about-tab {
  padding-top:85px;
  padding-bottom:70px;
  min-height: 100vh;
  .bgimg {
    position: absolute;
    right:100%;
    margin-right:-240px;
    width:1200px;
    top:0;
    bottom:0;
    background: red;
  }
  .bggrad {
    position: absolute;
    left:240px;
    width:2000px;
    top:0;
    bottom:0;
    background: green;
  }

  .about-tab-contents {
    margin-left:240px;
  }
}

.white-plate {
  background: rgba(white, 0.9);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

#about {
  .bgimg {
    background: #1f2830 url(../i/about-tab.jpg) right top no-repeat;
  }
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#e4e4ee+0,84a3bb+12,1f2830+100
    background-color: #e4e4ee; // Old browsers
    @include filter-gradient(#e4e4ee, #1f2830, vertical); // IE6-9
    @include background-image(linear-gradient(top, #e4e4ee 0%,#84a3bb 12%,#1f2830 100%));
  }
}

#collective {
  .bgimg {
    background: #1f2830 url(../i/yacht.jpg) right top no-repeat;
  }
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#e7e2da+0,90ae9a+50,013870+100
    background-color: #e7e2da; // Old browsers
    @include filter-gradient(#e7e2da, #013870, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #e7e2da 0%,#90ae9a 50%,#013870 100%));
  }

  .about-tab-contents {
    /*position: absolute;
    top:85px;
    bottom:70px;
    left:20px;
    right:20px;*/
  }
}

#trust-us {
  .bgimg {
    background: url(../i/globe.jpg) right top no-repeat;
  }
  .bggrad {
    background: #030e25;
  }
}

#whywe {
  .bgimg {
    background: url(../i/whywe.jpg) right top no-repeat;
  }
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#62696f+0,375285+100
    background-color: #62696f; // Old browsers
    @include filter-gradient(#62696f, #375285, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #62696f 0%,#375285 100%));

  }
}

#payment-ways {
  .bgimg {
    background: url(../i/payment-ways.jpg) right top no-repeat;
  }
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#1a4f91+0,4585bb+77,dac9ae+93
    background-color: #1a4f91; // Old browsers
    @include filter-gradient(#1a4f91, #dac9ae, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #1a4f91 0%,#4585bb 77%,#dac9ae 93%));
  }
}

.employee-image {
  width:170px;
  height:170px;
  border-radius: 90px;
  overflow: hidden;
  margin:0 auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}

.ender {
  height:9px;
}

.whywe-steps {
  >div:not(.arr) {
    width:165px;
  }
  
  .arr {
    background: url(../i/icons-arrow.png);
    width:18px;
    height:46px;
    margin-top: 5px;
  }
}

#contact-tabs {
  &.ui-widget {
    font-family: SUI;
    font-size: 1em;
  }
  .ui-tabs-nav {
    &.ui-widget-header {
      border:none;
      background: none;
      border-radius: 0;
      padding:0;
      margin:0;

      li {
        float:none;
        margin:0;
        top:0;
        width:45px;
        text-align: center;
        &.ui-tabs-active {
          padding-bottom: 0;
        }

        +li {
          margin-top:1px;
        }
      }

      .ui-state-default {
        border:none;
        background: none;
        overflow: hidden;
        border-top-right-radius: 0;
        &:not(.ui-state-active) {
          a {
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              box-shadow: 0 0 7px 2px rgba(black, 0.4);
            }
          }
        }
      }
      .ui-state-active {
        border:none;
        background: none;
      }

      .ui-state-hover {
        border:none;
        background: none;
        top:0;
      }

      .ui-tabs-anchor {
        float:none;
        padding:5px 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      a {
        display: block;
      }
    }
  }

  .ui-tabs-panel {
    padding:0;
    min-width: 250px;
    min-height: 450px;
  }
}

#map {
  position: absolute; top:0; left:0; right:0; bottom:45px;
  transition: transform 0.3s;
  &.mapdisabled {
    transform: translateX(-100vw);
  }
}

#contact-gal {
  position: absolute; top:0; left:0; right:0; bottom:45px;
  transition: transform 0.3s;
  &.galdisabled {
    transform: translateX(100vw);
  }

  .flex-viewport {
    height:100%;
  }

  .slides {
    height:100%;
    >li {
      position: relative;
      overflow: hidden;
      width:100%;
      height:100%;
       img {
         position: absolute;
         bottom: 50%;
         right: 50%;
         -webkit-transform: translateX(50%) translateY(50%);
         transform: translateX(50%) translateY(50%);
         min-width: 101%;
         min-height: 101%;
         width: auto;
         height: auto;
         overflow: hidden;
       }
    }
  }
}