@font-face{
  font-family: 'wf_SegoeUILight';
  src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
  src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
  url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AFuturaRound';
  src: url('fonts/afuturaround-regular-webfont.eot');
  src: url('fonts/afuturaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/afuturaround-regular-webfont.woff2') format('woff2'),
  url('fonts/afuturaround-regular-webfont.woff') format('woff'),
  url('fonts/afuturaround-regular-webfont.ttf') format('truetype'),
  url('fonts/afuturaround-regular-webfont.svg#a_futuraroundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AFuturaRound';
  src: url('fonts/afuturaround-bold-webfont.eot');
  src: url('fonts/afuturaround-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/afuturaround-bold-webfont.woff2') format('woff2'),
  url('fonts/afuturaround-bold-webfont.woff') format('woff'),
  url('fonts/afuturaround-bold-webfont.ttf') format('truetype'),
  url('fonts/afuturaround-bold-webfont.svg#a_futuraroundbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AFuturaRoundDemi';
  src: url('fonts/afuturarounddemi-webfont.eot');
  src: url('fonts/afuturarounddemi-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/afuturarounddemi-webfont.woff2') format('woff2'),
  url('fonts/afuturarounddemi-webfont.woff') format('woff'),
  url('fonts/afuturarounddemi-webfont.ttf') format('truetype'),
  url('fonts/afuturarounddemi-webfont.svg#a_futurarounddemiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #000;
  line-height: 1.3;
  min-width:1000px;
}

input, select, textarea {
  font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
}

a, .pseudolink {
  color:#058fc8;
  &:hover {
    color:#47c0ff;
  }
}

.pseudolink {
  cursor:pointer;
  position: relative;
  top:-0.1em;
  border-bottom: dashed 1px;
  >span {
    position: relative;
    top:0.1em;
  }
}

.max-width {
  max-width: 1400px;
  padding:0 20px;
}

$orange: #ff6700;
$green: #9cd71d;
$cyan: #24c2e6;
$grey: #969696;
$lightgrey: #bdbdbd;
$dark-blue: #07466a;

@mixin orange-gradient() {
  background-color: #ea711f; // Old browsers
  @include filter-gradient(#ea711f, #ce5503, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ea711f 0%,#ea711f 35%,#ce5503 65%,#ce5503 100%));
}

@mixin grey-gradient() {
  background-color: #f4f4f4; // Old browsers
  @include filter-gradient(#f4f4f4, #d8d8d8, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #f4f4f4 0%,#f4f4f4 35%,#d8d8d8 65%,#d8d8d8 100%));
}

@mixin common-button() {
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color:white;
  padding:0 8px;
  height: 40px;
  line-height: 40px;
  /*&.ttu {
    line-height: 30px;
  }*/
  font-weight: 600;
  &[type=button], &[type=submit] {
    line-height: 30px;
  }
  &:hover {
    text-decoration: none;
  }
  &.aib {
    display: inline-block;
    text-decoration: none;
    padding:0 8px;
    text-align: center;

    &.multiline {
      height: auto;
      min-height: 40px;
      line-height: 1.1;

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      &.iflex {
        display: -ms-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
      }
      >* {

      }
    }
  }
}

.afut {
  font-family: 'AFuturaRound';
}

.bysides {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
}

.f {
  @include display-flex;
}

.vcen {
  @include align-items(center);
}

.stretch {
  @include align-items(stretch);
}

.flex1 {
  @include flex(1);
}

.d {
  @include justify-content(space-between);
}



.vtop {
  @include align-items(flex-start);
}

.orange {
  color: $orange;
}
.green {
  color: $green;
}
.cyan {
  color: $cyan;
}
.black {
  color:black;
}
.grey {
  color:$grey;
}

.bg-orange {
  background-color: $orange;
}
.bg-green {
  background-color: $green;
}
.bg-cyan {
  background-color: $cyan;
}

.r {
  @include flex-direction(row);
}

.c {
  @include flex-direction(column);
}

@media all and (min-width: 800px) {
  .ws-r {
    @include flex-direction(row);
  }
  .ws-c {
    @include flex-direction(column);
  }
}
@media all and (max-width: 800px) {
  .ss-r {
    @include flex-direction(row);
  }
  .ss-c {
    @include flex-direction(column);
  }
}

#bricks {
  height:10px;
}

#logo {
  margin-top:-15px;
  width:300px;
}
#sitename-and-slogan {
  position: absolute;
  top:0;
  left:70px;
}
#domain {
  top: 1.3em;
  right: -0.6em;
  position: absolute;
}

.sep {
  width:1px;
  background: $lightgrey;
  margin:0 5px;
}

#top {
  padding-top:15px;
}

.swap {
  overflow: hidden;
  img {
    &:nth-child(2) {
      position: absolute;
      bottom:110%;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        position: absolute;
        bottom:110%;
      }
      &:nth-child(2) {
        position: relative;
        bottom:auto;
      }
    }
  }
}

#personal {
  text-align: right;
}

#call-variants {
  display: inline-block;
  width:130px;
  table {

  }
  td {
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
  }
}

#call-icons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#call-helpers {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color:$lightgrey;
  >span:first-child {
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
    text-align: center;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
  }
  >span:nth-child(2) {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    text-align: right;
    font-size: 10px;
    white-space: nowrap;

  }
}

#lk {
  font-size: 13px;
  color:$grey;
  &:before {
    content: '';
    width:14px;
    height:15px;
    background: url(../i/user.png) left top no-repeat;
    display: inline-block;
    vertical-align: middle;
    padding-left:0.3em;
  }
}

#menu-line {
  a {
    color:black;
    text-decoration: none;
    display: block;
    padding:10px 0;
  }
  >.max-width {
    >ul {
      padding:0 35px;
    }
  }
}

#top-search-form {
  background: url(../i/mainform.png) center center no-repeat;
  background-size: cover;
  padding:10px 0;

  form {
    margin:0 -10px;
    padding:10px;
    border-radius:10px;
    background: rgba($dark-blue, 0.52);
  }
}

@mixin selectric() {
  border-radius: 0;
  border:none;
  background: #ffffff;
  line-height: 40px;
  box-shadow: inset 0 2px 3px 0px rgba(black, 0.11);
}
.selectric {
  @include selectric();
  .selectric-hover & {
    border:none;
  }
  .selectric-open & {
    border:none;
  }

  .label {
    color:black;
    line-height: 40px;
    height: 40px;
    margin:0 32px 0 10px;
  }

  .button {
    height:40px;
    width:32px;
    color:$orange;
    &:after {
      border-top-color:$orange;
    }

    .selectric-hover & {
      color:$orange;
      &:after {
        border-top-color: $orange;
      }
    }
  }
}

input[type=text] {
  @include selectric();
  padding:0 10px;
}

.selectric-items {
  margin-top:2px;
  box-shadow: none;
  background: #ffffff;
  border:solid 1px $orange;
  li:hover {
    background: #dff6ff;
  }
  li {
    border:none;
    +li {
      border-top:solid 1px #e4e4e4;
    }
  }
}

#from-input {
  @include flex(0 0 17%);
}

#passengers-input {
  @include flex(0 0 100px);
}

.ui-autocomplete {
  &.ui-widget-content {
    border:solid 1px $orange;
    background: #ffffff;

    .ui-state-focus {
      font-weight: normal;
      color: inherit;
      background: #dff6ff;
      border:none;
      margin:0;
    }
  }

  &.ui-menu .ui-menu-item {
    padding:8px;
  }

  &.ui-menu .ui-menu-item {
    list-style: none;
    &:nth-child(2n+1):not(.ui-state-focus) {
      background: #f4f4f4;
    }
  }
}

.orange-button {
  @include orange-gradient();
  @include common-button();
  &.b {
    display: block;
    &:hover {
      color:white;
      background: $dark-blue;
      text-decoration: none;
    }
  }
  &.aib {
    &:hover {
      color:white;
      background: $dark-blue;
      text-decoration: none;
    }
  }
}

.grey-button {
  @include grey-gradient();
  @include common-button();
  color:$orange;
  padding:0 4px;
  text-shadow: none;
  box-shadow: inset 0 0 0 1px $orange;
  &:hover {
    background: #cccccc;
    color:$orange;
  }
}

#passengers-input {
  cursor: default;
  .pass-border {
    @include selectric();
    padding:0 20px 0 10px;
    >div {

    }
  }

  .drop-down {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: $orange;
    border-bottom: none;
  }
}

#passengers-popup {
  background: #fff;
  z-index: 100;
  position: absolute;
  top:100%;
  left:0;
  margin-top:2px;
  border: solid 1px $orange;
  border-radius:2px;
  width:300px;
  padding:15px;

  input[type=number] {

  }

  .adult {
    padding-bottom:15px;
    border-bottom:solid 1px $grey;
    padding-left:30px;
    &:before {
      content: '';
      width:15px;
      height:29px;
      background: url(../i/adult.png) center center no-repeat;
      position: absolute;
      top:-3px;
      left:3px;
    }
  }
  .child {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:solid 1px $grey;
    padding-left:30px;
    &:before {
      content: '';
      width:11px;
      height:19px;
      background: url(../i/child.png) center center no-repeat;
      position: absolute;
      top:15px;

      left:4px;
    }
    ul {
      @include ul-reset();
      margin-top:0.5em;
      li {
        +li {
          margin-top:0.5em;
        }
      }
    }
  }
  .baby {
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:solid 1px $grey;
    padding-left:30px;
    &:before {
      content: '';
      width:15px;
      height:20px;
      background: url(../i/baby.png) center center no-repeat;
      position: absolute;
      top:15px;
      left:3px;
    }
  }

  .baby-title {
    margin:-6px 0;
  }

  .business-class {
    padding-top:15px;
  }
}

.ui-datepicker {
  background: #fff;
  border-color:$orange;
  margin-top:2px;

  .ui-datepicker-header {
    background: none;
    border:none;
    border-radius: 0;
    color:$orange;
    border-bottom:solid 1px $grey;
  }

  .ui-datepicker-prev {
    span {
      background: url(../i/date-backward.png) center center no-repeat;
    }
  }
  .ui-datepicker-next {
    span {
      background: url(../i/date-forward.png) center center no-repeat;
    }
  }

  .ui-datepicker-prev, .ui-datepicker-next {
    &.ui-state-hover {
      border: none;
      background: none;
    }
  }

  .ui-datepicker-calendar {
    td {
      text-align: center;
    }
  }

  .ui-state-default {
    border:none;
    background: none;
    color:black;
    font-weight: normal;
    text-align: center;
    border-radius:100%;
    width:2em;
    padding:0.3em 0;
    margin:-0.2em 0;
    display: inline-block;
    &.ui-state-highlight {
      background: $lightgrey;
    }
    &.ui-state-active {
      background: $dark-blue;
      color:white;
    }
  }
}

#date-input-1 {
  input {
    background-image: url(../i/calendar-there.png);
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-background-origin: content-box;
    background-origin: content-box;
  }
}

#date-input-2 {
  input {
    background-image: url(../i/calendar-back.png);
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-background-origin: content-box;
    background-origin: content-box;
  }
}

.number-with-spinners {
  white-space: nowrap;
  >span {
    display: inline-block;
    vertical-align: middle;
  }
  .minus, .plus {
    height:23px;
    border:solid 1px $lightgrey;
    width:23px;
    text-indent: -9999px;
  }
  .minus {
    background: #fff url(../i/minus.png) center center no-repeat;
  }
  .plus {
    background: #fff url(../i/plus.png) center center no-repeat;
  }
  input {
    margin:0 -1px;
    height:23px;
    line-height: 17px;
    border:solid 1px $lightgrey;
    width:2em;
    text-align: center;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

#new-search {
  color: #FFFFFF;
  font-size: 15px;
  @include flex(0 1 5%);
}

#alternate-price {
  .max-width {
    padding:0 2.5em;
  }
}
#alternate-header {
  margin:5px 0;
  ul {
    @include ul-reset();
    >li {
      display: inline;
      +li {
        margin-left:1em;
      }
    }
  }

  .cheap, .recommended {
    &:after {
      display: none;
    }
    &:before {
      margin-right:0.3em;
    }
  }
}

#alt-title {
  text-transform: uppercase;
}

#alternate-header {
  .cheap {
    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent $orange transparent;
      content: '';
      display: inline-block;
    }
    /*&:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: $orange transparent transparent transparent;
      content: '';
      display: inline-block;
    }*/
  }
  .recommended {
    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent $green transparent;
      content: '';
      display: inline-block;
    }
    /*&:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: $green transparent transparent transparent;
      content: '';
      display: inline-block;
    }*/
  }
}

#alternate-results {
  .cheap, .recommended {
    color:white;
    h2 {
      position: relative;
      color:white !important;
    }
    &:before {
      position: absolute;
      content:'';
      top:2px;
      left:2px;
      bottom:2px;
      right:2px;
      background: $orange;
    }
  }
  .recommended {
    &:before {
      background: $green;
    }
  }
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 4px 0 30px 0;
  >.month {
    /*-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;*/

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    >.month-title {
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;

      background: #aeaeae;
      text-align: center;
      color:white;
      margin:0 0 3px -1px;
      padding:2px;
    }
    >.month-day {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      border:solid 1px #acacac;
      text-align: center;
      padding:0.5em 0.2em;
      margin:-1px 0 0 -1px;
      cursor:pointer;

      h2 {
        font-weight: normal;
        font-size: 18px;
        color:#777777;
        span {
          font-size: 12px;
        }
      }

      /*&.recommended, &.cheap {
        &:before {
          position: absolute;
          right:1px;
          bottom:1px;
        }
        &:after {
          position: absolute;
          top:1px;
          left:1px;
        }
      }*/
    }

    &:not(:last-child) {
      padding-right:1px;
      >.month-title {
        margin-right:-1px;
      }
    }
    +.month {
      padding-left:2px;
      >.month-title {
        margin-left:-2px;
      }
    }

    &:first-child {
      >.month-title {
        border-radius: 2px 0 0 2px;
      }
    }
    &:last-child {
      >.month-title {
        border-radius: 0 2px 2px 0;
      }
    }
  }
  .price {
    font-size: 13px;
  }
}

#results-header {
  background: #8e8e8e;
  color:white;
  //text-transform: uppercase;
  text-align: center;
  padding:0.35em 0;

}

.gt {
  background: url(../i/gt.png);
  width:8px;
  height:12px;
  display: inline-block;
  vertical-align: -0.05em;
  margin:0 0.5em;
}

#src-dst {
  font-weight: bold;
}
#res-dates {
  //color:#d1d1d1;
  margin-left:2em;
  font-weight: bold;
  text-transform: uppercase;
}

#left-col {
  @include flex(0 0 200px);
}

.all-items {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background: #fff;
  border:solid 1px $orange;
  border-radius: 2px;
  padding:1em;
}

.block {
  &:not(.last) {
    padding-bottom: 1em;
  }
  h2 {
    text-transform: uppercase;
    color:#3e3e3e;
    font-weight: normal;
    margin-bottom:3px;
  }
}

.selectric-rng {
  .selectric {
    @include orange-gradient();
    box-shadow: none;
    border-radius: 5px;
    .label {
      color: white;
    }
    .button:after {
      border-top-color: #ffffff;
    }
  }
}