body.front {
  padding-bottom: 0;
}
.front, .page-about {
  overflow-x: hidden;
  #new-search {
    display: none;
  }
}

#bn-l-sticky-wrapper {
  //@include flex(0 0 190px);
  //width:190px;
  //min-height: 750px;
  width:25%;
  position: absolute;
  z-index: 4;
}

#bn-l {
  height:100vh;
  >div {
    position: absolute;
    top:25px;
    left:0;
    right:25px;
    bottom:75px;
    border:solid 1px #ffffff;
    padding:20px;

    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#33445b+0,33445b+100&0.57+0,0+100
    @include filter-gradient(#33445b, #33445b, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(51,68,91,0.57) 0%,rgba(51,68,91,0) 100%));
  }
}


/*#bnbg {
  position: absolute;
  right:0;
  top:0;
  width:2000px;
  height:100%;
  overflow: hidden;
  //max-height: 100vh;
  img {
    position: absolute;
    top: -230px;
    right: -850px;
  }
}*/

#uobg {
  background: #193f90;
  position: absolute;
  overflow: hidden;
  left:0;
  top:0;
  width:3000px;
  bottom:0;
  img {
    position: absolute;
    top:-230px;
    left:-590px;
  }
}

.offers-table {
  margin-left:-20px;
  >.row, >.header {
    padding:0 0 0 9px;
  }

  .offer-pic {
    @include flex(0 0 24.5%);
    overflow: hidden;
    .offer-pic-wrapper {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      &:after {
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:50%;
        content:'';
        // Needs latest Compass, add '@import "compass"' to your scss
        // Permalink - use to edit and share this gradient:
        // http://colorzilla.com/gradient-editor/#383b63+0,383b63+100&0.7+0,0+100
        @include filter-gradient(#b3383b, #00383b, vertical); // IE6-9
        @include background-image(linear-gradient(top,  rgba(56,59,99,0.8) 0%,rgba(56,59,99,0) 100%));

      }
      >img {
        position: absolute;
        bottom: 50%;
        right: 50%;
        -webkit-transform: translateX(50%) translateY(50%);
        transform: translateX(50%) translateY(50%);
        min-width: 101%;
        min-height: 101%;
        width: auto;
        height: auto;
        overflow: hidden;
      }
    }

  }

  .row {
    +.row {
      margin-top:10px;
    }

    &:nth-child(2n) {
      .offer-hotels {
        >div:nth-child(2n) {
          .offer-date {
            /*background: #dbe5f1;

            .d-t, .d-b {
              &:before {
                background: #dbe5f1;
              }
            }*/
          }
        }
      }
    }

    &:nth-child(2n+1) {
      .offer-hotels {
        >div:nth-child(2n+1) {
          .offer-date {
            /*background: #dbe5f1;

            .d-t, .d-b {
              &:before {
                background: #dbe5f1;
              }
            }*/
          }
        }
      }
    }

    .offer-date {
      //background: #FFFFFF;
      //color:black;
    }

    &:before {
      position: absolute;
      top:0;
      bottom:0;
      width:9px;
      left:0;
      content: '';
    }
    &:after {
      position: absolute;
      top:0;
      bottom:0;
      width:9px;
      left:100%;
      content: '';
    }
  }

  .offer-date {
    @include flex(0 0 150px);
    line-height: 40px;
    text-align: left;
    padding-left:10px;
  }

  /*.offer-date {
    padding-left:10px;
    text-align: left;
    @include flex(0 0 150px);
    line-height: 40px;
    .d-t {
      position: absolute;
      width:12px;
      height:20px;
      top:0;
      left:100%;
      overflow: hidden;
      &:before {
        position: absolute;
        top:0;
        bottom:0;
        left: -7px;
        right: 5px;
        background: #FFFFFF;
        content:'';
        transform: skewX(30deg);
      }
    }
    .d-b {
      position: absolute;
      width:12px;
      height:20px;
      bottom:0;
      left:100%;
      overflow: hidden;

      color:black;
      &:before {
        position: absolute;
        top:0;
        bottom:0;
        left: -7px;
        right: 5px;
        background: #FFFFFF;
        content:'';
        transform: skewX(-30deg);
      }
    }
  }*/
}

.hotels-bg {
  >div:nth-child(n+2) {
    &:before {
      position: absolute;
      top:5px;
      bottom:5px;
      width:1px;
      left:0;
      content:'';
    }
  }
  >div {
    //background: rgba(white, 0.1);
    +div {
      //margin-left:1px;
    }
  }
}

.offer-hotels {
  >div {
    &:nth-child(2n+1) {
      background: rgba(#323232, 0.2);
    }
  }
}

.row-price {
}

.discount {
  position: absolute;
  background: #fcff00;
  color:black;
  width:24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  left:100%;
  top:50%;
  margin-top:-12px;
  cursor: pointer;
  &:hover {
    background: #beb714;
    .discount-popup {
      line-height: 1;
      display: block;
      position: absolute;
      white-space: nowrap;
      background: rgba(white, 0.95);
      border:solid 1px #6c6e72;
      z-index: 1000;
      padding:5px;
      border-radius: 5px;
      box-shadow: 0 0 5px 0px rgba(black, 0.2);
      left:12px;
      bottom:12px;
      border-bottom-left-radius: 0;
    }
  }
  .discount-popup {
    display: none;
  }
}

.row-cyan {
  &:before, &:after {
    background: $cyan;
  }
  .row-price {
    border-color: $cyan;
  }

  .hotels-bg {
    >div:nth-child(n+2) {
      &:before {
        background: $cyan;
      }
    }
  }
}

.row-orange {
  &:before, &:after {
    background: $orange;
  }
  .row-price {
    border-color: $orange;
  }

  .hotels-bg {
    >div:nth-child(n+2) {
      &:before {
        background: $orange;
      }
    }
  }
}

.row-green {
  &:before, &:after {
    background: $green;
  }
  .row-price {
    border-color: $green;
  }

  .hotels-bg {
    >div:nth-child(n+2) {
      &:before {
        background: $green;
      }
    }
  }
}

#front-info {
  /*&:before {
    position: absolute;
    top:-20px;
    bottom:0;
    width:10px;
    right:100%;
    background: white;
    content:'';
  }*/
  padding-left:9px;
}

.type-title {
  position: absolute;
  top:10px;
  left:0;
  right:0;
  z-index: 4;
  color:white;
  text-align: center;
}

.type-photo {
  height:155px;
  overflow: hidden;
  >img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}

.our-types {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-left: -8px;
  margin-right: -8px;
  >div {
    @include flex(1);
    .mac & {
      @include flex(1 1 auto);
    }
    min-width: 250px;
    margin:0 8px;
    &.our-type {
      padding-bottom: 16px;
    }
  }
}

.subscribe-form-wrapper {
  @include flex(0 0 15%);
}

.best-offers {
  margin:0 1px;
  >.month {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    >.month-title {
      @include flex(0 0 100%);
      margin-left:-1px;
      margin-right:-1px;
      //background: #8e8e8e;
    }
    >.month-day {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      border:solid 1px #acacac;
      text-align: center;
      padding:0 3px 3px;
      margin:-1px 0 0 -1px;
      cursor:pointer;

      h2 {
        font-weight: normal;
        font-size: 18px;
        color:#777777;
        span {
          font-size: 12px;
        }
      }

    }
  }
  .price {
    font-size: 14px;
  }
}

.lh08 {
  line-height: 0.8;
}

.index-tab {
  padding-top:20px;
  padding-bottom:20px;
  &:not(.last) {
    @include experimental-value(min-height, calc(100vh - 50px));
  }
  &.last {
    min-height: 100vh;
    padding-bottom:70px;
  }

  .bgimg {
    position: absolute;
    right:100%;
    margin-right:-25%;
    width:1200px;
    top:0;
    bottom:0;
    background: red;
  }
  .bggrad {
    position: absolute;
    left:25%;
    width:2000px;
    top:0;
    bottom:0;
    background: green;
  }

  .index-tab-contents {
    margin-left:25%;
    padding-left:20px;
  }
}

#uniqueoffers {
  background: url(../i/unique.jpg) left center no-repeat;
  background-size: cover;
  .bgimg {
    background: none;
  }
  .bggrad {
    background: rgba(#2c64af, 0.6);
  }
}

#tours-truth {
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#c1a97a+0,73502c+100
    background-color: rgb(193,169,122); // Old browsers
    @include filter-gradient(#c1a97a, #73502c, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(193,169,122,1) 0%,rgba(115,80,44,1) 100%));
  }

  .bgimg {
    background: url(../i/truth.jpg) right center no-repeat;
    background-size: auto 100%;
  }
}

.front .white-plate {
  margin-left:0;
  margin-right: 0;
}

#tours-types {
  .bggrad {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#56770e+0,007481+100
    background-color: rgb(86,119,14); // Old browsers
    @include filter-gradient(#56770e, #007481, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(86,119,14,1) 0%,rgba(0,116,129,1) 100%));
  }

  .bgimg {
    background: url(../i/pine.jpg) right center no-repeat;
    background-size: auto 100%;
  }
}