#results {
  
}

.result-starter {
  @include flex(0 0 10px);
}

.result-photo {
  overflow: hidden;
  @include flex(0 0 215px);
  img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}

.kurort-photo {
  overflow: hidden;
  @include flex(0 0 22%);
  img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}

.tour-price {
  @include flex(0 0 180px);
}

.rating {
  width:70px;
  @include flex(0 0 70px);
  height:13px;
  &:after {
    position: absolute;
    content:'';
    top:0;
    bottom:0;
    left:0;
    background: url(../i/small-star-orange.png);
  }
  &:before {
    position: absolute;
    content:'';
    top:0;
    bottom:0;
    right:0;
    background: url(../i/small-star-grey.png);
  }


  @for $i from 1 through 5 {
    &.r#{$i}:after {
      width:#{$i*14}px;
    }
    &.r#{$i}:before {
      width:#{70 - $i*14}px;
    }
  }
}

.result-period {
  @include flex(0 0 13em);
}

.result-contents {
  border:solid 1px #b7b7b7;
  border-left:none;

  .spacer {
    @include flex(0 0 4px);
  }
}

.result-flights {
  background: #24c2e6;
  color:white;
}

.flight-there {
  padding:0 0 0 30px;
  &:before {
    position: absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    background: url(../i/white-plane-right.png) left center no-repeat;
    width:21px;
    height:20px;
    content: '';
  }
}

.flight-back {
  padding:0 0 0 30px;
  &:before {
    position: absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    background: url(../i/white-plane-left.png) left center no-repeat;
    width:21px;
    height:20px;
    content: '';
  }
}

.thik-arrow {
  background: #19b1d4;
  @include flex(0 0 40px);
  min-height: 30px;
  >div {
    position: absolute;
    top:50%;
    left:50%;
    width:30px;
    height:30px;
    margin:-15px 0 0 -15px;
    background: url(../i/thik-arrow.png) center center no-repeat;
  }

  .showntrue & {
    >div {
      transform: rotate(180deg);
    }
  }
}

.airlogo {
  @include flex(0 0 64px);
  padding:8px 10px;

  img {
    max-width: 100%;
  }
}

.result-params {
  @include flex(0 0 160px);
}

.tour-descr {
  background: #ededed;

}

.hotel-features {
  img {
    border:solid 1px $orange;
    border-radius: 4px;
    padding: 3px;
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    width: 40px;
    height: 40px;
  }

  .tac:hover {
    img {
      -webkit-filter: none;
      filter:none;
    }
  }

  line-height: 1.1;
  color:#777777;
  font-size: 10px;
}

.result {
  +.result {
    margin-top:20px;
    &:before {
      content:'';
      position: absolute;
      left:5%;
      right:5%;
      bottom:100%;
      height:20px;
      background: #063c53;
    }
  }
}

.recommended-tour {
  position: absolute;
  bottom:0;
  left:0;
  background: $orange;
  color:white;
  text-transform: uppercase;
  width:225px;
  padding:4px 5px 4px 42px;
  font-size: 12px;
  &:before {
    width:54px;
    height:54px;
    content: url(../i/baloon.png);
    position: absolute;
    top:50%;
    margin-top:-27px;
    left:-18px;
  }
}

.extra-flights {
  box-shadow: 0 4px 5px 0px rgba(0,0,0,0.31);
  position: absolute;
  left:0;
  right:0;
  background: rgba(white, 0.9);
  border:solid 1px $cyan;
  z-index: 300;

  .flight-there {
    &:before {
      background-image: url(../i/grey-plane-right.png);
    }
  }
  .flight-back {
    &:before {
      background-image: url(../i/grey-plane-left.png);
    }
  }
}

.choose-extra {
  padding:10px 10px 10px 0;
  .grey-button {
    line-height: 20px;
    height: 20px;
  }
}

.selectric-h30 {
  .selectric {
    height: 30px;
    .label {
      line-height: 30px;
      height: 30px;
    }
    .button {
      height: 30px;
    }
  }
}