.col-header {
  background: #8e8e8e;
  color:white;
  text-transform: uppercase;
  text-align: center;
  padding:0.35em 0;
}

.slider {
  .slides {
    >li {
      >img {
        width: 100%;
        height: auto;
      }
    }
  }


}

.flex-direction-nav {
  a {
    opacity:1;
    text-indent: -9999px;
    text-align: left;
  }
  .flex-prev {
    left:10px;
    background: url(../i/slider-left.png) left center no-repeat;
    &:before {
      display: none;
    }
  }
  .flex-next {
    text-align: left;
    right:10px;
    background: url(../i/slider-right.png) right center no-repeat;
    &:before {
      display: none;
    }
  }
}

.flex-control-nav {
  display: none;
}

.w100 {
  width: 100%;
}

.tour-contents {
  background: #f4f4f4;
  padding:5px 10px 10px;
}

.excursion-image {
  width:100px;
  height:100px;
  border-radius: 50px;
  overflow: hidden;
  margin:0 auto;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}

.starter {
  width:10px;
  @include align-self(stretch);
}

.extra-services {
  .starter {
    @include flex(0 0 12px);
  }
  .additional-services-title>div, .additional-services>div>div {
    &:nth-child(2) {
      @include flex(0 0 40%);
    }
    &:nth-child(3) {
      @include flex(0 0 78px);
    }
    &:nth-child(4) {
      @include flex(0 0 78px);
    }
    &:nth-child(5) {
      @include flex(0 0 84px);
    }
  }
}

.additional-services {
  >div {
    >*:not(.starter) {
      padding:0 0 10px 0;
    }
  }


  input[type=button] {
    width:82px;
  }
}

.turoperators-table {
  white-space: nowrap;
  padding:0 0 5px 0;
  &:not(.header) {
    padding-top:5px;
    > div {
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        line-height: 28px;
        text-align: center;
      }

      &:nth-child(4), &:nth-child(5) {
        padding: 0 6px;
      }
    }
  }

  >div {
    &:nth-child(1) {
      @include flex(0 0 12px);
      margin:-5px 0;
    }
    &:nth-child(2) {
      margin-left:10px;
      @include flex(0 1 30%);
    }
    &:nth-child(3) {
      @include flex(0 0 70px);
    }
    &:nth-child(4) {
      @include flex(0 0 70px);
    }
    &:nth-child(5) {
      @include flex(0 0 80px);
    }
    &:nth-child(6) {
      @include flex(0 0 80px);
    }
  }

  input.grey-button {
    height:30px;
    line-height: 20px;
  }
}

.tour-total {
  border-top:solid 1px #bebebe;
  padding-top:20px;
  >.sep {
    @include align-self(stretch);
  }
}


.fl130 {
  @include flex(0 0 150px);
}

.please-title {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color:white;
}

input[type="text"].cellular {
  padding-left:50px;
}
.selectric-countrycode {
  position:absolute;
  left:0;
  top:50%;
  margin-top:-20px;
  .selectric {
    border:none;
    background: none;
    box-shadow: none;

    .label {
      margin-right:15px;
      .flag {
        margin:3px;
        img {
          border: solid 1px #cccccc;
        }
      }
    }
    .button {
      width:15px;
      &:after {
        border-width:4px;
      }
    }
  }
}

.flag {
  margin-right:15px;
  &.country-code-flag {
    margin-right: 5px;
  }
  img {
    border: solid 1px #cccccc;
    display: inline-block;
    vertical-align:-2px;
  }
}

.selectric-citizenship {
  width:250px;
}

.payment-ways {
  >label {
    //@include flex(0 0 200px);
    >div:first-child {
      margin-top:-9px;
    }
  }

}

#tour-columns {
  padding-top:0px;
  padding-bottom: 30px;
}

#responses, .exslider {
  padding:0 50px;
}

.exslider {
  .flex-direction-nav a {
    top:80px;
  }
}

.hotel-photos {
  .flex-direction-nav {
    .flex-prev {
      background: url(../i/white-slider-left.png) left center no-repeat;
    }
    .flex-next {
      background: url(../i/white-slider-right.png) right center no-repeat;
    }
  }
}

.tour-flights {
  .result-flights {
    padding-bottom:20px;

    .thik-arrow {
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      background: none;
      &:before {
        position: absolute;
        top:50%;
        height:1px;
        left:0;
        right:24px;
        background: #118eaa;
        content:'';

      }
      > div {
        left:auto;
        right:0px;
        background-image: url(../i/small-arrow-down.png);
        width:24px;
        height:24px;
        margin:-12px 0 0 -12px;
      }
    }
  }
}

.excursion-list {
  margin:0 -5px;
  >li {
    min-width: 120px;
    padding:0 5px;
    &:first-child {
      @include transition(margin-left 300ms);
    }
  }
}

@media screen and (max-width:1220px) {
  .excursion-list {
    >li {
      @include flex(0 0 33.3%);
    }
  }
}

@media screen and (min-width: 1221px) and (max-width:1450px) {
  .excursion-list {
    >li {
      @include flex(0 0 25%);
    }
  }
}

@media screen and (min-width:1451px) {
  .excursion-list {
    >li {
      @include flex(0 0 20%);
    }
  }
}

.response-name, .response-photo {
  @include flex(0 0 76px);
}

.response-photo {
  width:76px;
  height:76px;
  border-radius: 50px;
  overflow: hidden;
  margin:0 auto;
  img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 102%;
    max-width: 102%;
  }
}

.bb6 {
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.bl6 {
  border-left-width: 6px;
  border-left-style: solid;
}

.response-text {
  max-height: 5.2em;
  overflow: hidden;
}

.response-full {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(white, 0.8);
  z-index: 3000;
}

.response-full-text {
  width:600px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: white;
}

input[type=radio].male {
  &:checked {
    +.pseudo-radio {
      &:after {
        background: #42BCDF;
      }
    }
  }
}

input[type=radio].female {
  &:checked {
    +.pseudo-radio {
      &:after {
        background: $orange;
      }
    }
  }
}