<!DOCTYPE html>
<html ng-app="tourApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tour</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&signed_in=false"></script>
  <script src="js/script.js?new"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body class="page-landing">
<div class="f r stretch d bricks">
  <div class="flex1 bg-cyan"></div>
  <div class="flex1 bg-orange"></div>
  <div class="flex1 bg-green"></div>
  <div class="flex1 bg-cyan"></div>
  <div class="flex1 bg-orange"></div>
  <div class="flex1 bg-green"></div>
</div>
<div class="landing-bg">
  <div class="landing-upper">
    <div class="max-width">
      <div class="f d vcen">
        <div>
          <div class=" f r stretch d">
            <div id="logoimg"><img src="/i/besttours.png"></div>
            <div class="afut flex1 bybounds" id="sitename-and-slogan">
              <div id="sitename" class="fz37">
                <span class="orange">лучшие</span><span class="green">туры</span>
                <span class="orange fz25" id="domain">.онлайн</span>
              </div>
              <!--div id="slogan" class="bg-orange white fz12" style="margin-bottom: -0.3em;">
                Агентство путешествий для успешных людей
              </div-->
            </div>
          </div>
        </div>
        <div class="sep bg-white self-stretch"></div>
        <div class="fz15 afut tac white">Агентство путешествий<br>для успешных людей</div>
        <div class="sep bg-white self-stretch"></div>
        <div class="tar white">
          <div class="fz27 fwl">+7 (495) 210-55-99, 8 800 234 5 99 5</div>
          <div>с 9:00 до 23:00</div>
        </div>
      </div>

      <div class="white advant mt20">
        <div class="f d vcen space10">
          <div class="ttu fwl fz46 lh1">Только у нас:</div>
          <div class="ttu fz13 flex1">стоимость тура на 5-7% ниже цены тура на сайте туроператора,
            туры от всех туроператоров в одном месте</div>
        </div>
        <div class="bg-orange ttu tac mt20 fz13 p4 fwm">
          Поиск лучших - лучшие цены в России, найдёте дешевле, вернём разницу + 10%*
        </div>
      </div>

      <div class="f d vcen space20 mt30">
        <div class="white flx215">
          <div class="ttu tac fwm">Нам можно доверять:</div>
          <div class="tac mt20">Мы уполномоченное<br>
            агентство компании<br>
            <img class="mt5" src="i/mousenidis-lnd.png">
          </div>
          <div class="bg-white mt20 mb20 h1"></div>
          <div class="tac">
            С апреля 2014 года
            клиентами нашей компании
            стали более
            <span class="fz35">50&nbsp;000</span> человек
          </div>
          <div class="bg-white mt20 mb20 h1"></div>
          <div class="tac">
            <div class="ttu">офис в центре Москвы</div>
            <img src="i/metro.png"> Китай-город<br>
            Армянский переулок,<br>
            дом 9, строение 1
          </div>
        </div>
        <div class="lnd-form flex1">
          <div class="tac orange ttu fz17">Желаете узнать стоимость вашего путешествия?</div>
          <div class="tac white mt10">Оставьте заявку, наши менеджеры<br>
            свяжутся с Вами сегодня и порекомендуют лучшие туры</div>
          <div class="f d stretch space20 mt10">
            <div class="bybounds flex1">
              <div>
                <div class="white">Дата начала тура</div>
                <div class="f d mt5"><input type="text" class="datepicker flex1 h30"></div>
              </div>
              <div class="mt10">
                <div class="white">Страна / город / курорт / отель</div>
                <div class="f d mt5"><input type="text" class="flex1 h30"></div>
              </div>
            </div>
            <div class="flex1">
              <div class="white">Контактные данные</div>
              <div class="f d mt5"><input type="text" class="flex1 h30" placeholder="Ваше имя"></div>
              <div class="f d mt8"><input type="text" class="flex1 h30" placeholder="Телефон для связи"></div>
              <div class="f d mt8"><input type="text" class="flex1 h30" placeholder="Email"></div>
            </div>
          </div>
          <div class="f d vbot space20 mt20 white">
            <div class="flex1">
              <div class="mb5">Количество ночей</div>
              <div class="f vcen space6">
                <div>от</div>
                <!--div class="number-with-spinners h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div-->
                <select class="selectric grey h30">
                  <option>1</option>
                  <option>1</option>
                </select>
                <div>до</div>
                <!--div class="number-with-spinners h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div-->
                <select class="selectric grey h30">
                  <option>1</option>
                  <option>1</option>
                </select>
              </div>
            </div>
            <div class="flex1">
              <div class="mb4">Количество туристов</div>
              <div class="f vbot space6">
                <div><img src="i/adult-white.png" style="height:34px;margin-top:-2px;"></div>
                <!--div class="number-with-spinners h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div-->
                <select class="selectric grey h30">
                  <option>1</option>
                  <option>1</option>
                </select>
                <div></div>
                <div><img src="i/child-white.png" style="height:22px;"></div>
                <!--div class="number-with-spinners h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div-->
                <select class="selectric grey h30">
                  <option>1</option>
                  <option>1</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mt20 f d">
            <input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ НА РАСЧЁТ ЛУЧШЕГО ТУРА" class="orange-button flex1 h35 tac">
          </div>
        </div>
        <div class="white tac ttu flx215">
          <div class="fwm">наши партнеры:</div>
          <div class="mt30"><img src="i/sber-lnd.png"></div>
          <div class="mt30"><img src="i/momondo-lnd.png"></div>
          <div class="mt30"><img src="i/alfa-lnd.png"></div>
        </div>
      </div>


    </div>
  </div>
  <div class="landing-lower">
    <div class="max-width">
      <div class="fz16 ttu tac mb20">Туры от всех туроператоров в одном месте:</div>
      <div class="f d ws-wrap stretch lnd-turop">
        <div class="f vcen hcen">
          <img src="i/bib.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/mousenidis-color.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/tui.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/sunmar.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/panteon.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/bib.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/mousenidis-color.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/tui.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/sunmar.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/panteon.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/bib.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/mousenidis-color.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/tui.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/sunmar.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/panteon.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/tui.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/sunmar.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/panteon.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/bib.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/mousenidis-color.png">
        </div>
        <div class="f vcen hcen">
          <img src="i/tui.png">
        </div>

      </div>
    </div>
  </div>
</div>
<ng-include src="'bottom.html'"></ng-include>
</body>
</html>