<!DOCTYPE html>
<html ng-app="tourApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tour</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="js/script.js"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <style>
    .max-width {
      max-width: {{width}}px;
    }
  </style>
</head>
<body>
<ng-include src="'top.html'"></ng-include>
<ng-include src="'searchform.html'"></ng-include>
<div id="alternate-price" class="mt15">
  <div class="max-width">
    <div class="bysides" id="alternate-header">
      <div id="alt-title">цена туров на альтернативные даты. Длительность тура — 7 дней</div>
      <div>
        <ul>
          <li class="cheap">Самые дешевые туры</li>
          <li class="recommended">Рекомендуемые туры</li>
        </ul>
      </div>
    </div>
    <div id="alternate-results">
      <div class="month" ng-attr-style="width:{{6/30*100}}%;">
        <div class="month-title">Январь 2016</div>
        <div class="month-day {{day.cheap ? 'cheap' : ''}} {{day.recommended ? 'recommended' : ''}}" ng-attr-style="width:{{100/6*2}}%;" ng-repeat="day in [{day:'25', price:'12&thinsp;338'},{day:'26', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338', recommended:true}, {}]">
          <h2 ng-show="day.day">{{day.day}}<span> янв</span></h2>
          <div class="price" ng-show="day.price">{{day.price}} <span class="rub">Р</span></div>
        </div>
      </div>
      <div class="month" ng-attr-style="width:{{24/30*100}}%;">
        <div class="month-title">Февраль 2016</div>
        <div class="month-day {{day.cheap ? 'cheap' : ''}} {{day.recommended ? 'recommended' : ''}}"  ng-attr-style="width:{{100/24*2}}%;" ng-repeat="day in [{day:'25', price:'12&thinsp;338'},{day:'26', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338', cheap:true},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'}]">
          <h2>{{day.day}}<span> фев</span></h2>
          <div class="price">{{day.price}} <span class="rub">Р</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="alternate-popup">
  <div class="close-popup" onclick="$('#alternate-popup').hide();"></div>
  <ul class="ul">
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Только туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>

        <p class="mt20"><b class="blue">Обратно:</b></p>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Только туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li>
      <div class="tac"><a href="/" class="blue-button aib multiline iflex"><div>Посмотреть все 16 предложений</div></a></div>
    </li>
  </ul>
</div>

<div id="search-results">
  <div id="results-header">
    <div class="max-width">
      <span id="src-dst">
        САНКТ-ПЕТЕРБУРГ     <span class="gt"></span>  КОСТА-ДЕЛЬ-СОЛЬ (Бенальмадена)
        <span class="gt"></span>    САНКТ-ПЕТЕРБУРГ
      </span>
      <span id="res-dates">25 ИЮНЯ - 5 ИЮЛЯ</span>
    </div>
  </div>

  <div class="bysides vtop max-width ws-space30 mt20">
    <div id="left-col" class="fz13">
      <div class="block">
        <h2>Количество звезд</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">155 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">255 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">35 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"></div>
              <div class="orange fwb">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2>Тип питания</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Всё включено</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Ультра Всё включено</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Завтрак, ужин</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2>Туроператор</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Библиоглобус</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Интурист</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Музенидис</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>

        <div class="show-all">
          <a ng-click="allShown=true;" class="grey-button db tac fz13 ttu">Показать все 10 ▼</a>
          <div class="all-items" ng-if="allShown">
            <div class="tac mb10"><span ng-click="$parent.allShown=false;">Свернуть ▲</span></div>
            <ul class="ul" ng-init="ar = [{title:'Аэрофлот', code:'DME', price:'12&thinsp;338'}, {title:'Air France', code:'SVO', price:'12&thinsp;338'}, {title:'S7', code:'VKO', price:'12&thinsp;338'}]">
              <li class="mb5" ng-repeat="el in ::ar">
                <label class="bysides vtop space10">
                  <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>{{::el.title}}</div></div>
                  <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block">
        <h2>Аэропорт</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Шереметьево</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Домодедово</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Музенидис</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>

        <div class="show-all">
          <a ng-click="allShown1=true;" class="grey-button db tac fz13 ttu">Показать все 10 ▼</a>
          <div class="all-items" ng-if="allShown1">
            <div class="tac mb10"><span ng-click="$parent.allShown1=false;">Свернуть ▲</span></div>
            <ul class="ul" ng-init="ar = [{title:'Аэрофлот', code:'DME', price:'12&thinsp;338'}, {title:'Air France', code:'SVO', price:'12&thinsp;338'}, {title:'S7', code:'VKO', price:'12&thinsp;338'}]">
              <li class="mb5" ng-repeat="el in ::ar">
                <label class="bysides vtop space10">
                  <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>{{::el.title}}</div></div>
                  <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex1">
      <div class="bysides stretch space4">
        <div class="flex1 bybounds">
          <div class="mb5">Диапазон цен, ₽</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Тип тура</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Тип размещения</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Сортировать по</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <label class="tac bybounds">
          <div>Бесплатный <br>Wi-FI</div>
          <div><input type="checkbox"></div>
        </label>
      </div>

      <div class="mt10 mb20" id="results">
        <div class="result f ws-r d stretch" ng-repeat="l in [1, 1] track by $index">
          <div class="bg-cyan result-starter"></div>
          <div class="result-photo">
            <img src="i/ex.jpg">
          </div>
          <div class="flex1 bybounds  mw0">
            <div class="result-contents p10">
              <div class="f ws-r d space10 vtop">
                <div class="flex1 fz16 f ws-r vtop space10">
                  <div>
                    Sheraton Moscow Sheremetyevo Hotel
                  </div>
                  <div class="mt3">
                    <div class="rating r3"></div>
                  </div>
                </div>
                <!--div class="orange result-period tar">25 сентября — 22 сентября</div-->
              </div>

              <div class="f d stretch space10 mt10">
                <div class="kurort-photo"><img src="i/polpol.png"></div>
                <div class="bybounds flex1">
                  <div class="ttu fz12">Курорт «Красная поляна» или более длинное название курорта</div>
                  <div>
                    <div class="cyan">Состав тура:</div>
                    <div class="f around vtop tac grey fz10">
                      <div>
                        <img src="i/r-plane.png">
                        <div class="mt5">Авиа-<br>перелет</div>
                      </div>
                      <div>
                        <img src="i/r-bus.png">
                        <div class="mt5">Групповой<br>трансфер</div>
                      </div>
                      <div>
                        <img src="i/r-compass.png">
                        <div class="mt5">Услуги<br>гида</div>
                      </div>
                      <div>
                        <img src="i/r-doctor.png">
                        <div class="mt5">Медицинская<br>страховка</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-grey p10 tour-price">
                  <div class="tac fz12 orange">25 сентября — 22 сентября</div>
                  <div class="tac mt10"><img src="i/adult.png" class="vab">×2 <img src="i/child.png" class="vab">×2</div>
                  <div class="mt10 tac fz24 fwb">
                    212 338 <span class="rub">Р</span>
                  </div>
                </div>
              </div>

              <div class="f d vtop ws-r mt10 space10">
                <div class="flex1 mw0">
                  <div class="fz12 mb5 orange">Тип питания</div>
                  <select class="selectric grey">
                    <option value="5 000 — 7 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                    <option value="15 000 — 17 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                    <option value="25 000 — 27 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                  </select>
                </div>
                <div class="flex1 mw0">
                  <div class="fz12 mb5 orange">Тип номера</div>
                  <select class="selectric grey">
                    <option value="5 000 — 7 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                    <option value="15 000 — 17 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                    <option value="25 000 — 27 000">Семейный номер,
                      2 комнаты,
                      боковой вид на море</option>
                  </select>
                </div>
              </div>

              <div class="mt10 f d vcen space10">
                <div class="flex1 f hcen vcen space10 hotel-features">
                  <div class="fz12 grey">Услуги<br> отеля</div>
                  <div class="tac">
                    <img src="i/wifi.png">

                  </div>
                  <div class="tac">
                    <img src="i/children.png">

                  </div>
                  <div class="tac">
                    <img src="i/ac.png">

                  </div>
                  <div class="tac">
                    <img src="i/pool.png">

                  </div>
                  <div class="tac">
                    <img src="i/child-beach.png">

                  </div>
                </div>
                <div class="tour-price"><a href="/" class="green-button ttu tac">Подробнее</a></div>
              </div>
              <!--div class="f ws-r vtop ws-space20 mt10 mw0">
                <div class="flex1">
                  <div class="f ws-r stretch ws-space10">
                    <div class="flex3 tour-descr f r hcen vcen">
                      <div>
                        Бангкок — 2 ночи,<br>
                        Паттайя — 3 ночи,<br>
                        Самуи — 7 ночей
                      </div>
                    </div>
                    <div class="bg-orange spacer"></div>
                    <div class="flex2 tour-contents fz12">
                      <div class="orange">Состав тура:</div>
                      <p>Авиаперелёт<br>
                      Групповой трансфер<br>
                      Услуги гида<br>
                      Медицинское<br>
                      страхование</p>
                    </div>
                  </div>
                  <div class="f ws-r stretch ws-space10">
                    <div class="flex3 f vtop hcen ws-r space10 mt10 hotel-features">
                      <div class="tac">
                        <img src="i/wifi.png">
                        <div>Бесплатный<br>
                          Wi-Fi</div>
                      </div>
                      <div class="tac">
                        <img src="i/children.png">
                        <div>Детский<br>
                          клуб</div>
                      </div>
                      <div class="tac">
                        <img src="i/ac.png">
                        <div>Конди-<br>
                          ционер</div>
                      </div>
                      <div class="tac">
                        <img src="i/pool.png">
                        <div>Бассейн</div>
                      </div>
                      <div class="tac">
                        <img src="i/child-beach.png">
                        <div>Детский<br>
                          пляж</div>
                      </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="flex2"></div>
                  </div>
                </div>
                <div class="result-params mw0">
                  <div class="tac"><img src="i/adult.png" class="vab">×2 <img src="i/child.png" class="vab">×2</div>

                  <div class="mt10">
                    <select class="selectric grey h30">
                      <option value="5 000 — 7 000">5 000 — 7 000</option>
                      <option value="15 000 — 17 000">15 000 — 17 000</option>
                      <option value="25 000 — 27 000">25 000 — 27 000</option>
                    </select>
                  </div>

                  <div class="mt5">
                    <select class="selectric grey h30">
                      <option value="5 000 — 7 000">Семейный номер,
                        2 комнаты,
                        боковой вид на море</option>
                      <option value="15 000 — 17 000">Семейный номер,
                        2 комнаты,
                        боковой вид на море</option>
                      <option value="25 000 — 27 000">Семейный номер,
                        2 комнаты,
                        боковой вид на море</option>
                    </select>
                  </div>
                  <div class="mt10 tac fz24 fwb">
                    212 338 <span class="rub">Р</span>
                  </div>
                  <div class="mt10">
                    <a href="/" class="green-button ttu tac">Подробнее</a>
                  </div>
                </div>
              </div-->
            </div>
            <div class="result-flights f ws-r d stretch" ng-click="show=!show">
              <div class="airlogo f vcen hcen">
                <img src="i/airlogo.png">
              </div>
              <div class="flex1 f c hcen">
                <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
                <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
              </div>
              <div class="thik-arrow"><div></div></div>
            </div>
            <div class="extra-flights" ng-show="show">
              <div class="f ws-r d stretch">
                <div class="airlogo f vcen hcen">
                  <img src="i/zzz.png">
                </div>
                <div class="flex1 f c hcen">
                  <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
                  <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
                </div>
                <div class="bybounds choose-extra">
                  <div class="fwb">+ 55 000 <span class="rub">Р</span></div>
                  <div class="mt5"><a class="grey-button aib" href="/">Выбрать</a></div>
                </div>
              </div>
              <div class="f ws-r d stretch">
                <div class="airlogo f vcen hcen">
                  <img src="i/zzz.png">
                </div>
                <div class="flex1 f c hcen">
                  <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
                  <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
                </div>
                <div class="bybounds choose-extra">
                  <div class="fwb">+ 55 000 <span class="rub">Р</span></div>
                  <div class="mt5"><a class="grey-button aib" href="/">Выбрать</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<ng-include src="'bottom.html'"></ng-include>
</body>
</html>