<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tour</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="js/script.js"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <style>
    .max-width {
      max-width: {{width}}px;
    }
  </style>
</head>
<body>
<div class="f r stretch d" id="bricks">
  <div class="flex1 bg-cyan"></div>
  <div class="flex1 bg-orange"></div>
  <div class="flex1 bg-green"></div>
  <div class="flex1 bg-cyan"></div>
  <div class="flex1 bg-orange"></div>
  <div class="flex1 bg-green"></div>
</div>
<div id="top">
  <div class="max-width f ws-r stretch d">
    <div id="logo">
      <a ng-init="width=1024" ng-click="width= (width==1024) ? 1400 : 1024">
        <div>
          <div><img src="/i/besttours.png"></div>
          <div class="afut" id="sitename-and-slogan">
            <div id="sitename" class="fz35">
              <span class="orange">лучшие</span><span class="green">туры</span>
              <span class="orange fz22" id="domain">.онлайн</span>
            </div>
            <div id="slogan" class="black fz16 mt5">
              Мы осуществляем ваши мечты!
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="sep"></div>
    <div id="partners" class="f r vtop d ws-space10">
      <div>
        <h4 class="fwn fz12 grey">Наши партнеры:</h4>

        <div class="swap mt10"><img src="i/sber.png"><img src="i/sber-color.png"></div>
        <div class="swap mt10"><img src="i/ingos.png"><img src="i/ingos-color.png"></div>
      </div>

      <div>
        <h4 class="fwn fz12 grey">Нас рекомендуют:</h4>

        <div class="swap mt10"><img src="i/rbc.png"><img src="i/rbc-color.png"></div>
        <div class="swap mt10"><img src="i/national.png"><img src="i/national-color.png"></div>
      </div>

      <div class="tac">
        <h4 class="fwn fz12 grey">Мы уполномоченное<br>
          агентство</h4>
        <div class="swap mt10"><img src="i/mousenidis.png"><img src="i/mousenidis-color.png"></div>
      </div>
    </div>
    <div class="sep"></div>
    <div id="phones">
      <p class="tar"><a class="fz20 orange tdn" href="tel:+74951501182">+7 495 150-11-82</a><br>
        <span class="fz20 orange desktop">8 800 234 5 99 5</span></p>

      <p class="orange tar fz12">с 9:00 до 23:00</p>
    </div>
    <div class="sep"></div>
    <div id="personal">
      <div id="call-variants">
        <div id="call-icons">
          <img src="i/viber.png">
          <img src="i/skype.png">
          <img src="i/whatsapp.png">
          <img src="i/email.png">
        </div>
        <div id="call-helpers">
          <span>Позвонить онлайн</span>
          <span>Email</span>
        </div>
      </div>
      <div><a href="/" id="lk">Личный кабинет</a></div>
    </div>
  </div>
</div>
<div id="menu-line">
  <div id="buter"></div>
  <div class="max-width">
    <ul class="ul f d ws-r ss-c fz12 ttu">
      <li><a href="/">Авиабилеты</a></li>
      <li><a href="/">Бронирование отелей</a></li>
      <li><a href="/">Бронирование авто</a></li>
      <li><a href="/">Ж\д билеты</a></li>
      <li><a href="/">Билеты на автобус on-line</a></li>
      <li><a href="/">О компании</a></li>
      <li><a href="/">Контакты</a></li>
      <li><a href="/">Отзывы о нас</a></li>
    </ul>
  </div>
</div>
<div id="top-search-form" ng-init="class=false" class="search{{class}}">
  <div class="max-width">
    <form class="f d ws-r ss-c ws-space4 vcen">
      <div id="new-search" ng-click="class = !class">
        <div>Новый поиск</div>
        <div class="drop-down mobile"></div>
      </div>
      <div id="from-input">
        <select class="selectric">
          <option value="+7" data-flag="i/flag.png">Россия</option>
          <option value="+90" data-flag="i/greece.png">Грузия</option>
          <option value="+383" data-flag="i/flag.png">Россия</option>
          <option value="+900" data-flag="i/greece.png">Украина</option>
          <option value="+1" data-flag="i/flag.png">США</option>
          <option value="+800" data-flag="i/greece.png">Зимбабве</option>
        </select>
      </div>
      <div id="to-input" class="flex1 f">
        <input type="text" placeholder="Куда: страна, курорт или отель" class="autocomplete flex1">
      </div>
      <div id="passengers-input">
        <div class="pass-border" ng-click="show=!show" ng-init="show=false;">
          <div><img src="i/adult.png">×2 <img src="i/child.png">×2</div>
        </div>
        <div class="drop-down"></div>
        <div id="passengers-popup" ng-show="show">
          <div class="adult">
            <div class="bysides">
              <div>Взрослые</div>
              <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
            </div>
          </div>
          <div class="child" ng-if="true" ng-init="children=[13,14]; co=children.length;">
            <div class="bysides">
              <div>Дети до 14 лет</div>
              <div class="number-with-spinners"><span class="minus" ng-click="children.pop(); co=children.length;">−</span><input type="number" ng-model="co" step="1"><span class="plus" ng-click="children.push(0); co=children.length;">+</span></div>
            </div>
            <ul ng-show="children.length>0">
              <li ng-repeat="child in children track by $index">
                <div class="bysides">
                  <div>Возраст {{$index+1}}-го ребенка</div>
                  <div><div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="baby">
            <div class="bysides">
              <div class="baby-title">Дети до 2 лет<br>
                <span class="grey">без места</span>
              </div>
              <div class="number-with-spinners"><span class="minus" ng-click="ba=ba-1;">−</span><input type="number" ng-model="ba" ng-init="ba=1;" step="1" min="1"><span class="plus" ng-click="ba=ba+1;">+</span></div>
            </div>
          </div>
          <div class="bysides business-class">
            <div class="">
              <input type="checkbox" id="busclass"> <label for="busclass">Бизнес-класс</label>
            </div>
            <div>
              <input type="button" value="Закрыть" class="blue-button" ng-click="show=false;">
            </div>
          </div>
        </div>
      </div>
      <div id="date-input-1">
        <input type="text" class="datepicker" placeholder="Туда">
      </div>
      <div id="date-input-2">
        <input type="text" class="datepicker" placeholder="Обратно">
        <div class="close"></div>
      </div>
      <div id="search-submit">
        <input type="submit" value="Найти" class="orange-button ttu">
      </div>
    </form>
  </div>
</div>
<div id="alternate-price">
  <div class="max-width">
    <div class="bysides" id="alternate-header">
      <div id="alt-title">цена туров на альтернативные даты. Длительность тура — 7 дней</div>
      <div>
        <ul>
          <li class="cheap">Самые дешевые туры</li>
          <li class="recommended">Рекомендуемые туры</li>
        </ul>
      </div>
    </div>
    <div id="alternate-results">
      <div class="month" ng-attr-style="width:{{6/30*100}}%;">
        <div class="month-title">Январь 2016</div>
        <div class="month-day {{day.cheap ? 'cheap' : ''}} {{day.recommended ? 'recommended' : ''}}" ng-attr-style="width:{{100/6*2}}%;" ng-repeat="day in [{day:'25', price:'12&thinsp;338'},{day:'26', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338', recommended:true}, {}]">
          <h2 ng-show="day.day">{{day.day}}<span> янв</span></h2>
          <div class="price" ng-show="day.price">{{day.price}} <span class="rub">Р</span></div>
        </div>
      </div>
      <div class="month" ng-attr-style="width:{{24/30*100}}%;">
        <div class="month-title">Февраль 2016</div>
        <div class="month-day {{day.cheap ? 'cheap' : ''}} {{day.recommended ? 'recommended' : ''}}"  ng-attr-style="width:{{100/24*2}}%;" ng-repeat="day in [{day:'25', price:'12&thinsp;338'},{day:'26', price:'12&thinsp;338'},{day:'27', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338', cheap:true},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'},{day:'28', price:'12&thinsp;338'}]">
          <h2>{{day.day}}<span> фев</span></h2>
          <div class="price">{{day.price}} <span class="rub">Р</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="alternate-popup">
  <div class="close-popup" onclick="$('#alternate-popup').hide();"></div>
  <ul class="ul">
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Только туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>

        <p class="mt20"><b class="blue">Обратно:</b></p>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li class="bysides">
      <div><img src="i/nordstar.png"></div>
      <div class="flex1">
        <b class="blue">Только туда:</b>
        <p><span class="grey vylpril">Вылет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p><span class="grey vylpril">Прилет:</span><span class="tm">11:50</span> Москва <span class="grey">DME</span></p>
        <p>2 ч 30 м в пути, прямой</p>
      </div>
      <div>
        <a href="/" class="button-grey aib">Подробнее</a>
      </div>
    </li>
    <li>
      <div class="tac"><a href="/" class="blue-button aib multiline iflex"><div>Посмотреть все 16 предложений</div></a></div>
    </li>
  </ul>
</div>

<div id="search-results">
  <div id="results-header">
    <div class="max-width">
      <span id="src-dst">
        САНКТ-ПЕТЕРБУРГ     <span class="gt"></span>  КОСТА-ДЕЛЬ-СОЛЬ (Бенальмадена)
        <span class="gt"></span>    САНКТ-ПЕТЕРБУРГ
      </span>
      <span id="res-dates">25 ИЮНЯ - 5 ИЮЛЯ</span>
    </div>
  </div>

  <div class="bysides vtop max-width ws-space30 mt20">
    <div id="left-col">
      <div class="block">
        <h2>Количество звезд</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">155 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">255 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/grey-star.png"></div>
              <div class="orange fwb">35 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides">
              <div><input type="radio" name="star"> <img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"><img src="i/orange-star.png"></div>
              <div class="orange fwb">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2>Тип питания</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Всё включено</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Ультра Всё включено</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="food" class="vab"></div> <div>Завтрак, ужин</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2>Туроператор</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Библиоглобус</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Интурист</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>Музенидис</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>

        <div class="show-all">
          <a ng-click="allShown=true;" class="grey-button db tac fz13 ttu">Показать все 10 ▼</a>
          <div class="all-items" ng-if="allShown">
            <div class="tac mb10"><span ng-click="$parent.allShown=false;">Свернуть ▲</span></div>
            <ul class="ul" ng-init="ar = [{title:'Аэрофлот', code:'DME', price:'12&thinsp;338'}, {title:'Air France', code:'SVO', price:'12&thinsp;338'}, {title:'S7', code:'VKO', price:'12&thinsp;338'}]">
              <li class="mb5" ng-repeat="el in ::ar">
                <label class="bysides vtop space10">
                  <div class="bysides vtop space4"><div><input type="radio" name="oper" class="vab"></div> <div>{{::el.title}}</div></div>
                  <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block">
        <h2>Аэропорт</h2>
        <ul class="ul">
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Шереметьево</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Домодедово</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
          <li class="mb5">
            <label class="bysides vtop space10">
              <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>Музенидис</div></div>
              <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
            </label>
          </li>
        </ul>

        <div class="show-all">
          <a ng-click="allShown1=true;" class="grey-button db tac fz13 ttu">Показать все 10 ▼</a>
          <div class="all-items" ng-if="allShown1">
            <div class="tac mb10"><span ng-click="$parent.allShown1=false;">Свернуть ▲</span></div>
            <ul class="ul" ng-init="ar = [{title:'Аэрофлот', code:'DME', price:'12&thinsp;338'}, {title:'Air France', code:'SVO', price:'12&thinsp;338'}, {title:'S7', code:'VKO', price:'12&thinsp;338'}]">
              <li class="mb5" ng-repeat="el in ::ar">
                <label class="bysides vtop space10">
                  <div class="bysides vtop space4"><div><input type="radio" name="aero" class="vab"></div> <div>{{::el.title}}</div></div>
                  <div class="orange fwb wsn">55 000 <span class="rub">Р</span></div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex1">
      <div class="bysides stretch space4">
        <div class="flex1 bybounds">
          <div class="mb5">Диапазон цен, ₽</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Тип тура</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Тип размещения</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <div class="flex1 bybounds">
          <div class="mb5">Сортировать по</div>
          <select class="selectric rng">
            <option value="5 000 — 7 000">5 000 — 7 000</option>
            <option value="15 000 — 17 000">15 000 — 17 000</option>
            <option value="25 000 — 27 000">25 000 — 27 000</option>
          </select>
        </div>
        <label class="tac bybounds">
          <div>Бесплатный <br>Wi-FI</div>
          <div><input type="checkbox"></div>
        </label>
      </div>

      <div class="mt10" id="results">

      </div>
    </div>
  </div>
</div>
</body>
</html>