<!DOCTYPE html>
<html ng-app="tourApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tour</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <!--script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script src="js/script.js"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <style>
    .max-width {
      max-width: {{width}}px;
    }
  </style>
</head>
<body>
<ng-include src="'top.html'"></ng-include>
<div class="max-width f ws-r vtop space20" id="tour-columns">
  <div class="flex1 mw0">
    <div class="col-header">Информация о туре</div>

    <div class="f ws-r hcen mt5">
      <div class="fz16 f ws-r vtop space10">
        <div class="ttu">
          Sheraton Moscow Sheremetyevo Hotel
        </div>
        <div class="mt3">
          <div class="rating r3"></div>
        </div>
      </div>
    </div>

    <div class="f mt5">
      <a href="/" class="grey-button aib flex1 h30">Подробнее об отеле</a>
    </div>

    <div class="slider mt10 hotel-photos">
      <ul class="slides">
        <li><img src="i/ex.jpg"></li>
        <li><img src="i/ex.jpg"></li>
        <li><img src="i/ex.jpg"></li>
      </ul>
    </div>

    <div class="mt15">
      <div class="tac ttu">Услуги в отеле</div>
      <div class="f vtop d ws-r mt5 grey777 fz10 hotel-icons">
        <div class="tac">
          <img src="i/wifi.png">
          <div>Бесплатный<br>
            Wi-Fi</div>
        </div>
        <div class="tac">
          <img src="i/children.png">
          <div>Детский<br>
            клуб</div>
        </div>
        <div class="tac">
          <img src="i/ac.png">
          <div>Конди-<br>
            ционер</div>
        </div>
        <div class="tac">
          <img src="i/pool.png">
          <div>Бассейн</div>
        </div>
        <div class="tac">
          <img src="i/child-beach.png">
          <div>Детский<br>
            пляж</div>
        </div>
        <div class="tac">
          <img src="i/wifi.png">
          <div>Бесплатный<br>
            Wi-Fi</div>
        </div>
        <div class="tac">
          <img src="i/children.png">
          <div>Детский<br>
            клуб</div>
        </div>
        <div class="tac">
          <img src="i/wifi.png">
          <div>Бесплатный<br>
            Wi-Fi</div>
        </div>
        <div class="tac">
          <img src="i/children.png">
          <div>Детский<br>
            клуб</div>
        </div>
      </div>
    </div>
    <div class="mt20">
      <div class="tac ttu fz16">Курорт «Красная поляна»</div>
    </div>
    <div class="f mt5">
      <a href="/" class="grey-button aib flex1 h30">О курорте</a>
    </div>
    <div class="mt10">
      <img src="i/kurort.jpg" class="w100">
    </div>

    <div class="mt20 tour-flights">
      <div class="space10 mb5">
        <span class="ttu">Авиаперелет</span> <span class="orange fwm fz12">25 июня - 02 июля</span>
      </div>
      <div class="fz12 result-flights f ws-r d stretch" ng-class="'shown'+showF" ng-click="showF = !showF">
        <div class="airlogo f vcen hcen">
          <img src="i/airlogo.png">
        </div>
        <div class="flex1 f c hcen">
          <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
          <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
        </div>
        <div class="thik-arrow"><div></div></div>
      </div>
      <div class="fz12 extra-flights" ng-hide="!showF">
        <div class="f ws-r d stretch">
          <div class="airlogo f vcen hcen">
            <img src="i/zzz.png">
          </div>
          <div class="flex1 f c hcen">
            <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
            <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
          </div>
          <div class="bybounds choose-extra">
            <div class="fwb">+ 55 000 <span class="rub">Р</span></div>
            <div class="mt5"><a class="grey-button aib h30" href="/">Выбрать</a></div>
          </div>
        </div>
        <div class="f ws-r d stretch">
          <div class="airlogo f vcen hcen">
            <img src="i/zzz.png">
          </div>
          <div class="flex1 f c hcen">
            <div class="flight-there"><b>11:50</b>, Санкт-Петербург (DME) — <b>11:50</b>, Бургас (BOJ)</div>
            <div class="flight-back mt5"><b>11:50</b>, Бургас (BOJ) — <b>11:50</b>, Санкт-Петербург (DME)</div>
          </div>
          <div class="bybounds choose-extra">
            <div class="fwb">+ 55 000 <span class="rub">Р</span></div>
            <div class="mt5"><a class="grey-button aib h30" href="/">Выбрать</a></div>
          </div>
        </div>
      </div>
    </div>

    <div id="responses" class="mt20">
      <h2 id="resp-title" class="tac fwn ttu">Отзывы покупателей</h2>
      <ul class="slides">
        <li ng-repeat="l in [1,1,1,1,1,1,1] track by $index" class="fi r stretch space20">
          <div class="tac bybounds">
            <img src="i/default.png">
            <div class="mt5 fz12">28.09.2014<br>Алексей</div>
          </div>
          <div class="flex1 bybounds">
            <div class="fz13">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="f r vcen space10 mt10">
              <div class="flex1 tar">
                <!--a href="/" class="orange"><div class="fz11">Проверить отзыв</div></a-->
              </div>
              <a href="/" class="grey-button aib h22 fz13">Прочесть полностью</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="tour-contents tac mt20">
      <div class="">
        <div class="tac ttu fz16">Состав тура</div>
      </div>
      <div class="space10 f d ws-r stretch mt10">
        <div class="flex1 mt10 mb20">
          <img src="i/c-plane.png">
        </div>
        <div class="sep bg-grey"></div>
        <div class="flex1 mt10 mb20">
          <img src="i/c-bus.png">
        </div>
        <div class="sep bg-grey"></div>
        <div class="flex1 mt10 mb20">
          <img src="i/c-compass.png">
        </div>
        <div class="sep bg-grey"></div>
        <div class="flex1 mt10 mb20">
          <img src="i/c-doctor.png">
        </div>
      </div>
      <div class="space10 f d ws-r vtop fz12">
        <div class="flex1">
          Авиаперелет
        </div>
        <div class="sep"></div>
        <div class="flex1">
          Групповой<br>трансфер
        </div>
        <div class="sep"></div>
        <div class="flex1">
          Услуги<br>гида
        </div>
        <div class="sep"></div>
        <div class="flex1">
          Медицинская<br>страховка
        </div>
      </div>
    </div>

    <div class="exslider mt20">
      <div class="mb10">
        <div class="tac ttu fz16">Экскурсии</div>
      </div>
      <ul class="slides f ">
        <li class="bybounds fi" ng-repeat="l in ['Экскурсия на остров Skirathos Skirathos', 'Экскурсия на остров Skirathos Skirathos Экскурсия ', 'Экскурсия на остров Skirathos Skirathos', 'Экскурсия на остров Skirathos Skirathos', 'Экскурсия на остров Skirathos Skirathos'] track by $index">
          <div class="flex1">
            <div class="excursion-image">
              <img src="i/exex{{$index ? 0 : 1}}.png">
            </div>
            <div class="tac mt10 fz12">{{l}}</div>
          </div>
          <div class="">
            <div class="f">
              <a href="/" class="grey-button aib flex1 h30">Подробнее</a>
            </div>
            <div style="height:25px;" ng-if="$index==0" class="mt5 f vcen space6 fz10 hcen fwm">
              <div><img src="i/galka.png"></div>
              <div class="lh11 grey777">Включено в<br>стоимость тура</div>
            </div>
            <label style="height:25px;" ng-if="$index!=0" class="mt5 f vcen space2 fz10 hcen fwm space6">
              <div><input type="checkbox"></div>
              <div class="grey777">Добавить к&nbsp;туру</div>
            </label>
          </div>
        </li>
      </ul>
    </div>

    <div class="mt20 extra-services">
      <h2 class="tac fwn ttu mb10">Дополнительные услуги</h2>
      <div class="f d vcen space10 fz10 grey777 additional-services-title">
        <div class="bg-orange starter"></div>
        <div class="flex1"></div>
        <div class="tac fwm mb4">Стоимость</div>
        <div class="tac fwm mb4">Количество</div>
        <div></div>
      </div>
      <div class="additional-services">
        <div class="f d vcen space10">
          <div class="bg-orange starter"></div>
          <div class="fz15">Визовая поддержка</div>
          <div class="tac fwb fz13"><span class="orange">55 785 <span class="rub">Р</span></span></div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div><input type="button" value="Добавить" class="grey-button aib h22"></div>
        </div>
      </div>
      <div class="f d vcen space10 fz10 grey777 additional-services-title">
        <div class="bg-cyan starter"></div>
        <div class="flex1"></div>
        <div class="tac fwm mb4">Стоимость</div>
        <div class="tac fwm mb4">Количество</div>
        <div></div>
      </div>
      <div class="additional-services">
        <div class="f d vcen space10">
          <div class="bg-cyan starter"></div>
          <div class="fz15">Конкретизация рейса</div>
          <div class="tac fwb fz13"><span class="orange">155 785 <span class="rub">Р</span></span></div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div><input type="button" value="Добавить" class="grey-button aib h22"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex1 mw0">
    <div class="col-header">Бронирование тура</div>

    <div class="f d vcen ws-r mt10 p10 border-orange b-1">
      <div class="flex1 tac orange fz16">
        25 сентября — 2 сентября
      </div>
      <div class=" tar fz13 grey777">
        <img src="i/adult-cyan.png" class="vab" style="height:26px;"> Взрослых×2 <img src="i/child-green.png" class="vab" style="height:18px;"> Детей×2
      </div>
    </div>

    <div class="f d vtop ws-r mt10 space10">
      <div class="flex1 mw0">
        <div class="orange fwb fz12 mb5">Тип питания</div>
        <select class="selectric grey hasprice h30">
          <option value="5 000 — 7 000" data-price="55000">Ультра всё включено</option>
          <option value="15 000 — 17 000" data-price="155000">Всё включено</option>
          <option value="25 000 — 27 000" data-price="255000">HB — завтрак, ужин</option>
        </select>
      </div>
      <div class="flex1 mw0">
        <div class="orange fwb fz12 mb5">Тип номера</div>
        <select class="selectric grey hasprice h30">
          <option value="5 000 — 7 000" data-price="55000">Семейный номер,
            2 комнаты,
            боковой вид на море</option>
          <option value="15 000 — 17 000" data-price="55000">Двойной номер,
            боковой вид на море</option>
          <option value="25 000 — 27 000" data-price="55000">Одиночный номер,
            1 комната,
            боковой вид на море</option>
        </select>
      </div>
    </div>

    <div class="mt20">
      <div class="f d vcen ws-r turoperators-table fz10 tac grey777 space14 header fwm">
        <div class="starter"></div>
        <div class="flex1">Туроператор</div>
        <div>Стоимость</div>
        <div>Скидка</div>
        <div>Итого</div>
        <div>Ваш выбор</div>
      </div>
      <div class="f d vcen ws-r turoperators-table space10">
        <div class="starter bg-orange"></div>
        <div class=""><img src="i/intourist.png"/></div>
        <div>55 870 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-cyan cyan">1 000 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-green green-itogo"><b>54 000</b> <span class="rub">Р</span></div>
        <div><input type="button" value="Выбрать" class="grey-button aib h30 fwm"></div>
      </div>
      <div class="f d vcen ws-r turoperators-table space10">
        <div class="starter bg-cyan"></div>
        <div class=""><img src="i/bib.png"/></div>
        <div>55 870 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-cyan cyan">1 000 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-green green-itogo"><b>54 000</b> <span class="rub">Р</span></div>
        <div><input type="button" value="Выбрать" class="grey-button aib h30 fwm"></div>
      </div>
      <div class="f d vcen ws-r turoperators-table space10">
        <div class="starter bg-green"></div>
        <div class=""><img src="i/anex.png"/></div>
        <div>255 870 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-cyan cyan">10 000 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-green green-itogo"><b>254 000</b> <span class="rub">Р</span></div>
        <div><input type="button" value="Выбрать" class="grey-button aib h30 fwm"></div>
      </div>
      <div class="f d vcen ws-r turoperators-table space10">
        <div class="starter bg-cyan"></div>
        <div class=""><img src="i/bib.png"/></div>
        <div>55 870 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-cyan cyan">1 000 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-green green-itogo"><b>54 000</b> <span class="rub">Р</span></div>
        <div><input type="button" value="Выбрать" class="grey-button aib h30 fwm"></div>
      </div>
      <div class="f d vcen ws-r turoperators-table space10">
        <div class="starter bg-green"></div>
        <div class=""><img src="i/anex.png"/></div>
        <div>255 870 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-cyan cyan">10 000 <span class="rub">Р</span></div>
        <div class="rounded4 b-1 border-green green-itogo"><b>254 000</b> <span class="rub">Р</span></div>
        <div><input type="button" value="Выбрать" class="grey-button aib h30 fwm"></div>
      </div>
    </div>

    <div class="mt20 tour-total f d vcen space10">
      <div>
        <img src="i/intourist.png"/>
      </div>
      <div class="sep bg-grey"></div>
      <div class="flex1">
        <div class="f d ws-r vbot space10">
          <div class="flex1">
            <div class="f d ws-r vcen orange">
              <div>Стоимость тура</div>
              <div><b>155 000</b> <span class="rub">Р</span></div>
            </div>
            <div class="mt5 f d ws-r vcen cyan rounded4 b-1 p5">
              <div>Скидка для вас</div>
              <div><b>2 000</b> <span class="rub">Р</span></div>
            </div>
          </div>
          <div class="fl130 f">
            <input type="submit" value="Забронировать" class="green-button h30 flex1 ttu">
          </div>
        </div>
        <div class="mt10 f d stretch ws-r space10">
          <div class="flex1 fz12 grey777">
            <div class="f d vtop ws-r space10">
              <div>Топливный сбор</div><div class="wsn">670 <span class="rub">Р</span></div>
            </div>
            <div class="f d vtop ws-r space10 mt2">
              <div>Виза (кол-во — 2)</div><div class="wsn">670 <span class="rub">Р</span></div>
            </div>
            <div class="f d vtop ws-r space10 mt2">
              <div>Экскурсия (кол-во — 2)</div><div class="wsn">670 <span class="rub">Р</span></div>
            </div>
            <div class="f d vcen ws-r space10 mt2">
              <div>Окончательная
                стоимость&nbsp;тура</div><div class="wsn">670 <span class="rub">Р</span></div>
            </div>
          </div>
          <div class="bybounds fl130 fz11">
            <div><a href="/" class="grey-button aib multiline h30"><div class="fwm">Оплатить 50%, остальное позже</div></a></div>
            <div class="mt5 f"><a href="/" class="grey-button aib flex1 fwm h30">Купить в кредит</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt20 bg-orange p10 tac please-title fz12 fwb">
      ПОЖАЛУЙСТА УКАЖИТЕ КОНТАКТЫ ПОКУПАТЕЛЯ,<br>
      ДАННЫЕ ЗАГРАНПАСПОРТА ТУРИСТОВ.
    </div>

    <div class="mt10 border-orange b-1 p10">
      <div class="f d ws-r space20 vcen">
        <img src="i/buyer.png">
        <div class="orange ttu">Покупатель</div>
        <div class="flex1 f "><input type="text" class="flex1 b-1 h30"></div>
      </div>
      <div class="mt10 f d ws-r vcen space4">
        <div class="flex1 f">
          <input type="text" class="flex1 cellular b-1 h30" placeholder="Номер мобильного телефона" value="+7">
          <select class="selectric countrycode">
            <option value="+7" data-flag="i/flag.png">Россия</option>
            <option value="+90" data-flag="i/greece.png">Грузия</option>
            <option value="+383" data-flag="i/flag.png">Россия</option>
            <option value="+900" data-flag="i/greece.png">Украина</option>
            <option value="+1" data-flag="i/flag.png">США</option>
            <option value="+800" data-flag="i/greece.png">Зимбабве</option>
          </select>
        </div>
        <div class="flex1 f"><input type="text" class="flex1 b-1 h30" placeholder="Ваш Email"></div>
      </div>
    </div>
    <div class="border-orange b-1 p10 mt-1" ng-repeat="l in [1,1] track by $index">

      <div class="f d ws-r space70 vcen">
        <div class="ttu">Взрослый 1</div>
        <div class="flex1 f space10 vcen d">
          <div>Документ</div>
          <div class="flex1">
            <select class="selectric grey h30">
              <option value="+7" data-flag="i/flag.png">Россия</option>
              <option value="+90" data-flag="i/greece.png">Грузия</option>
              <option value="+383" data-flag="i/flag.png">Россия</option>
              <option value="+900" data-flag="i/greece.png">Украина</option>
              <option value="+1" data-flag="i/flag.png">США</option>
              <option value="+800" data-flag="i/greece.png">Зимбабве</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt10 f d vcen space10">
        <div class="f vbot space4">
          <div><img src="i/adult-cyan.png"></div>
          <div class="lh1">
            <div>Пол</div>
            <div class="mt4"><label><input type="radio" name="s"> М</label></div>
            <div class="mt4"><label><input type="radio" name="s"> Ж</label></div>
          </div>
        </div>
        <div class="flex1">
          <div class="f d vtop space10">
            <div class="flex1 f"><input type="text" class="flex1 b-1 h30" placeholder="Фамилия"></div>
            <div class="flex1 f"><input type="text" class="flex1 b-1 h30" placeholder="Имя"></div>
          </div>
          <div class="mt10 f d vcen space10">
            <div class="flex1 tar">Гражданство</div>
            <div>
              <select class="selectric citizenship grey h30">
                <option value="Georgia" data-flag="i/flag.png">Албания</option>
                <option value="Georgia" data-flag="i/greece.png">Грузия</option>
                <option value="Georgia" data-flag="i/flag.png">Россия</option>
                <option value="Georgia" data-flag="i/greece.png">Украина</option>
                <option value="Georgia" data-flag="i/flag.png">США</option>
                <option value="Georgia" data-flag="i/greece.png">Зимбабве</option>
              </select>
            </div>
          </div>
          <div class="mt10 f d vtop space4 tac grey777 mw0">
            <div class="flex1 mw0">
              <div class="fz12">Дата рождения</div>
              <div class="f mw0 mt4"><input type="text" class="datepicker flex1 mw0 w100 b-1 fwb fz14 h30"></div>
            </div>
            <div class="flex2 mw0">
              <div class="fz12">Серия и номер загранпаспорта</div>
              <div class="f mw0 mt4"><input type="text" class="flex1 mw0 w100 b-1 h30"></div>
            </div>
            <div class="flex1 mw0">
              <div class="fz12">Срок действия</div>
              <div class="f mw0 mt4"><input type="text" class="datepicker flex1 mw0 w100 b-1 fwb fz14 h30"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mt20">
      <h2 class="tac fwn ttu">Способ оплаты</h2>
      <div class="mt10 f around vtop space40 payment-ways">
        <label>
          <div class="tac"><input type="radio" name="p"></div>
          <div>
            <div class="tac"><img src="i/cash.png"></div>
            <div class="orange fz15">Оплата наличными в офисе</div>
            <div class="fz13">
              <ul style="margin-left:3em;">
                <li>Экономьте деньги,</li>
                <li class="mt4">Пейте бесплатный кофе,</li>
                <li class="mt4">Площадка для детей,</li>
                <li class="mt4">Документы в руки</li>
              </ul>
            </div>
          </div>
        </label>
        <label>
          <div class="tac"><input type="radio" name="p"></div>
          <div>
            <div class="tac"><img src="i/cards.png"></div>
            <div class="orange fz15">Оплата банковской картой</div>
            <div class="fz13">
              <ul style="margin-left:1em;">
                <li>Экономьте время</li>
                <li class="mt6">Платите онлайн откуда удобно
                  и когда хочется</li>
                <li class="mt6">Документы на emai</li>
              </ul>
            </div>
          </div>
        </label>
      </div>
    </div>

  <div class="mt20 border-orange b-1 p10">
    <div class="tac fz13 fwm">
      Абсолютная гарантия платежей.<br>
      Оплата происходит через авторизизационный сервер<br>
      Процессингового цетра ПАО «Сбербанк России».<br>
      К оплате принимаются банковские карты следующих платёжных систем<br>
    </div>
    <div class="f around vcen mt20">
      <img src="i/visa-grey.png">
      <img src="i/mastercard-grey.png">
      <img src="i/visaelectron-grey.png">
      <img src="i/maestro-grey.png">
    </div>
    <div class="grey mt20 tac">Комиссия за проведение оплаты с помщью банковской карты: 670 ₽ </div>

    <div class="mt20">
      <label class="f d vcen space6">
        <div><input type="checkbox"></div>
        <div class="fz13 flex1">Я ознакомлен и согласен с правилами публичной оферты<br>
          и условиями применения тарифа</div>
      </label>
    </div>
  </div>

    <div class="mt20 border-orange b-1 p10">
      <div class="tac">
        Уважаемые Клиенты!<br>
        Мы ценим Ваше время, при желании Вы можете выбрать удобное для Вас время посещения офиса
      </div>
      <div class="f hcen vcen mt20 space10">
        <div>
          <input type="text" class="b-1 datepicker h30 calendar" placeholder="Дата">
        </div>
        <div>
          <select class="selectric grey h30">
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
            <option>09:00—11:00</option>
          </select>
        </div>
      </div>

      <div class="mt20">
        <label class="f d vcen space6">
          <div><input type="checkbox"></div>
          <div class="fz13 flex1">Спасибо, на данный этап времени я не имею возможности<br>
            спланировать время визита. Я приду, когда мне будет удобно</div>
        </label>
      </div>
    </div>

  <div class="mt20 f">
    <input type="submit" value="Оплатить лучший тур онлайн" class="flex1 green-button ttu">
  </div>

    <div class="mt10 f">
      <button class="flex1 green-button ttu multiline aib"><div class="fwn fz12">ОТПРАВИТЬ ИНФОРМАЦИЮ О БРОНИРОВАНИИ И ПОСЕЩЕНИИ ОФИСА
        ЛУЧШЕМУ   <i class="fa fa-smile-o"></i>      МЕНЕДЖЕРУ</div></button>
    </div>

  </div>
</div>
<ng-include src="'bottom.html'"></ng-include>
</body>
</html>